version: 2.1

orbs:
  node: circleci/node@4.1

jobs:
  build-and-dist:
    docker:
      - image: cimg/node:15.1
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Run build
          command: npm run lib
workflows:
  sample:
    jobs:
      - build-and-dist
